<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".restaurant.jukjeon.cafe.CreativeActivity"></activity>
        <activity android:name=".lost.LostEditActivity" />
        <activity android:name=".mate.MateEditActivity" />
        <activity android:name=".restaurant.jukjeon.western.DosmasActivity" />
        <activity android:name=".restaurant.jukjeon.western.BurritoActivity" />
        <activity android:name=".restaurant.jukjeon.western.BistroActivity" />
        <activity android:name=".restaurant.jukjeon.western.ObliqActivity" />
        <activity android:name=".restaurant.jukjeon.western.DarinActivity" />
        <activity android:name=".restaurant.jukjeon.western.GrandeActivity" />
        <activity android:name=".restaurant.jukjeon.western.BeuradeoActivity" />
        <activity android:name=".restaurant.jukjeon.korean.RedpipeActivity" />
        <activity android:name=".restaurant.jukjeon.korean.WarActivity" />
        <activity android:name=".restaurant.jukjeon.korean.SangolActivity" />
        <activity android:name=".restaurant.jukjeon.korean.KimchiActivity" />
        <activity android:name=".restaurant.jukjeon.korean.GosimActivity" />
        <activity android:name=".restaurant.jukjeon.korean.SangsangActivity" />
        <activity android:name=".restaurant.jukjeon.korean.SonActivity" />
        <activity android:name=".restaurant.jukjeon.korean.IlmiActivity" />
        <activity android:name=".restaurant.jukjeon.japanese.MisoyaActivity" />
        <activity android:name=".restaurant.jukjeon.japanese.KenkoActivity" />
        <activity android:name=".restaurant.jukjeon.japanese.UmedaActivity" />
        <activity android:name=".restaurant.jukjeon.japanese.MamaActivity" />
        <activity android:name=".restaurant.jukjeon.japanese.HosikdangActivity" />
        <activity android:name=".restaurant.jukjeon.chinese.HongbanActivity" />
        <activity android:name=".restaurant.jukjeon.chinese.SabuActivity" />
        <activity android:name=".restaurant.jukjeon.chinese.MaratangActivity" />
        <activity android:name=".restaurant.jukjeon.chinese.HongchunActivity" />
        <activity android:name=".restaurant.jukjeon.cafe.TrianonActivity" />
        <activity android:name=".restaurant.jukjeon.cafe.SoleilActivity" />
        <activity android:name=".restaurant.jukjeon.cafe.EdiyaActivity" />
        <activity android:name=".restaurant.jukjeon.cafe.AzitActivity" />
        <activity android:name=".restaurant.jukjeon.cafe.WitchActivity" />
        <activity android:name=".restaurant.jukjeon.cafe.DarakActivity" />
        <activity android:name=".restaurant.cheonan.western.RossiActivity" />
        <activity android:name=".restaurant.cheonan.western.BabalabActivity" />
        <activity android:name=".restaurant.cheonan.western.SubmealActivity" />
        <activity android:name=".restaurant.cheonan.western.SungtanActivity" />
        <activity android:name=".restaurant.cheonan.korean.BirdActivity" />
        <activity android:name=".restaurant.cheonan.korean.AfterschoolActivity" />
        <activity android:name=".restaurant.cheonan.korean.GobgobgobActivity" />
        <activity android:name=".restaurant.cheonan.korean.BuanActivity" />
        <activity android:name=".restaurant.cheonan.korean.CheonhojiActivity" />
        <activity android:name=".restaurant.cheonan.japanese.MaeulActivity" />
        <activity android:name=".restaurant.cheonan.japanese.ChonActivity" />
        <activity android:name=".restaurant.cheonan.japanese.StoryActivity" />
        <activity android:name=".restaurant.cheonan.japanese.MadangActivity" />
        <activity android:name=".restaurant.cheonan.chinese.HeungbuActivity" />
        <activity android:name=".restaurant.cheonan.chinese.HyrinActivity" />
        <activity android:name=".restaurant.cheonan.chinese.DongchunActivity" />
        <activity android:name=".restaurant.cheonan.cafe.SlowActivity" />
        <activity android:name=".restaurant.cheonan.cafe.LikeActivity" />
        <activity android:name=".restaurant.cheonan.cafe.GravityActivity" />
        <activity android:name=".restaurant.cheonan.cafe.PeopleActivity" />
        <activity android:name=".restaurant.cheonan.cafe.GroasterActivity" />
        <activity android:name=".restaurant.cheonan.cafe.GomeActivity" />
        <activity android:name=".restaurant.cheonan.cafe.MarisActivity" />
        <activity android:name=".restaurant.RestaurantwhereActivity" />
        <activity android:name=".restaurant.cheonan.western.WesternActivity2" />
        <activity android:name=".restaurant.cheonan.RestaurantActivity2" />
        <activity android:name=".restaurant.cheonan.korean.KoreanActivity2" />
        <activity android:name=".restaurant.cheonan.japanese.JapaneseActivity2" />
        <activity android:name=".restaurant.cheonan.chinese.ChineseActivity2" />
        <activity android:name=".restaurant.cheonan.cafe.CafeActivity2" />
        <activity android:name=".restaurant.jukjeon.western.WesternActivity" />
        <activity android:name=".ui.MailActivity" />
        <activity android:name=".ui.ContentActivity" />
        <activity
            android:name=".ui.UserActivity"
            android:label="회원정보 수정" />
        <activity
            android:name=".ui.MypageActivity"
            android:label="내가 쓴 글/댓글 단 글" />
        <activity android:name=".lost.LostViewActivity" />
        <activity android:name=".mate.MateViewActivity" />
        <activity android:name=".mate.MateWriteActivity" />
        <activity android:name=".lost.LostWriteActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />

        <activity android:name=".restaurant.jukjeon.cafe.CafeActivity" />
        <activity android:name=".restaurant.jukjeon.chinese.ChineseActivity" />
        <activity android:name=".restaurant.jukjeon.japanese.JapaneseActivity" />
        <activity android:name=".restaurant.jukjeon.korean.KoreanActivity" />
        <activity android:name=".lost.GetActivity" />
        <activity android:name=".lost.FindActivity" />
        <activity android:name=".mate.HouseActivity" />
        <activity android:name=".mate.ContestActivity" />
        <activity android:name=".mate.AloneActivity" />
        <activity android:name=".mate.StudyActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:label="로그인" />
        <activity
            android:name=".Join.JoinActivity"
            android:label="회원가입" />
        <activity
            android:name=".ui.HomeActivity"
            android:label="홈" />
        <activity
            android:name=".lost.LostActivity"
            android:label="잃어버림" />
        <activity
            android:name=".mate.MateActivity"
            android:label="메이트" />
        <activity
            android:name=".restaurant.jukjeon.RestaurantActivity"
            android:label="식당" />
        <activity
            android:name=".ui.MainActivity"
            android:label="슬기로운단국생활">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>